* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
}

footer {
  background: linear-gradient(to right, rgb(40, 140, 173), rgb(33, 63, 172));
  color: white;
  text-align: center;
  font-size: small;
  display: block;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.contact section {
  margin-bottom: 16px;
}
.contact section img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.contact p {
  text-align: center;
}

.comman-class {
  padding: 10px;
  border-radius: 8px;
  margin: 10px 10px;
  color: white;
  flex-grow: 2;
  text-align: center;
}
.iot {
  background: linear-gradient(rgba(2, 7, 8, 0.8), rgba(12, 32, 38, 0.8)),
    url(images/iot.jpg);
}

.integreting p {
  margin: 20px 10px;
  text-align: left;
  line-height: 20px;
  font-weight: bold;
}
.integreting a {
  font-size: 14px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 3px 10px 5px 10px;
  border-radius: 16px;
  background-color: black;
}
.integreting a:hover {
  background-color: rgba(22, 21, 21, 0.8);
}

.cryptography {
  background: linear-gradient(
      to left,
      rgba(2, 7, 8, 0.7),
      rgba(12, 32, 38, 0.5)
    ),
    url(images/crypthography.jpeg);
}

.ethical {
  background: linear-gradient(rgba(2, 7, 8, 0.8), rgba(12, 32, 38, 0.6)),
    url(images/ethical-hacking.jpg);
}

.motiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-top: 50px;
  text-align: left;
  width: 100%;
  line-height: 22px;
}

.hero-content {
  background-image: url("images/hero-img-2.jpg");
  height: 500px;
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.hero-content h1 {
  color: whitesmoke;
  letter-spacing: 2px;
  text-align: center;
  padding: 130px 10px 20px 20px;
  font-size: 32px;
  font-weight: 800;
}
.vision-mission {
  width: 80%;
  margin: 20px;
  border-radius: 5px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.vision-mission p {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.vision-mission ul li {
  padding: 5px;
  margin-left: 20px;
  text-align: left;
}
.head-span {
  font-size: 20px;
  font-weight: 600;
  color: rgb(33, 63, 172);
  margin-bottom: 10px;
  text-align: center;
}

.header {
  z-index: 12;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 60px;
  border-bottom: solid 0.5px #cecece;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 60px;
  height: 50px;
  margin-left: 10px;
}
.menu {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
  right: 0px;
}
.navigation-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  justify-content: center;
  position: absolute;
  top: 60px;

  letter-spacing: 2px;
  background-color: white;
  display: none;
}

.close {
  height: 20px;
  width: 20px;
  align-self: center;
  margin: 2px auto;
}

.head-list {
  background-color: white;
  color: black;
  text-decoration: none;
  align-items: center;
  margin: 2px auto;
}

.menu:hover ~ .navigation-menu {
  display: flex;
}
.close:hover ~ .navigation-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .navigation-menu {
    letter-spacing: normal;
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .head-list {
    margin-right: 15px;
  }
  .close {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .head-list:hover {
    border-bottom: #cecece solid 2px;
    transform: scaleY(1.15);
    transform: scaleX(1.15);
    font-weight: bold;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  .integreting {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 900px) {
  .head-list:hover {
    border-bottom: #cecece solid 2px;
    transform: scaleY(1.15);
    transform: scaleX(1.15);
    font-weight: bold;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 1000px) {
  .navigation-menu {
    position: absolute;
    right: 20px;
  }
  .head-list:hover {
    border-bottom: #cecece solid 2px;
    transform: scaleY(1.15);
    transform: scaleX(1.15);
    font-weight: bold;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1200px) {
  .integreting {
    margin: 20px 150px;
  }
}
@media only screen and (min-width: 1600px) {
  .navigation-menu {
    position: relative;
    left: 80%;
  }
  .head-list:hover {
    border-bottom: #cecece solid 2px;
    transform: scaleY(1.15);
    transform: scaleX(1.15);
    font-weight: bold;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 1400px) {
  .navigation-menu {
    position: absolute;
    left: 50%;
  }
  .head-list:hover {
    border-bottom: #cecece solid 2px;
    transform: scaleY(1.15);
    transform: scaleX(1.15);
    font-weight: bold;
    letter-spacing: 1px;
  }
}
