* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
.header-part {
  height: 75vh;
  background-image: url(images/cs-background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
.navigation-menu {
  background-color: black;
  height: 75vh;
  width: 65%;
  background-color: rgb(47, 46, 46);
  color: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.menu-list {
  border-bottom: 0.1px solid #cecece;
  width: 80%;
  margin-left: 15px;
  text-decoration: none;
  color: #cecece;
  font-size: larger;
  font-weight: lighter;
  justify-content: start;
}
#close {
  width: 15px;
  position: absolute;
  left: 90%;
}

.mfird-intro {
  color: rgb(226, 217, 217);
  margin-top: 3rem;
  font-size: 1.7rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  justify-self: end;
}
#menu-list:target {
  display: flex;
}

.menu {
  width: 40px;
  color: green;
  display: block;
  position: relative;
  left: 85%;
  top: 20px;
}

.logo {
  margin-top: 10px;
  width: 150px;
}

.our-technology {
  margin-top: 1rem;
}
.our-technology h1 {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  color: #6e6767;
}
.up {
  overflow-y: hidden;
}
.middle {
  width: 90%;
  margin-left: 5%;
}
#iot-pic {
  /* height: 70px; */
  width: 80%;
  position: relative;
  left: 10%;
  top: 20px;
  /* display: none; */
}
#react-pic {
  width: 50%;
}
#ios-pic {
  width: 23%;
  height: 48px;
  position: relative;
  top: 20px;
  margin-left: 10px;
}
.android-pic {
  width: 27%;
  height: 50px;
  position: relative;
  top: 15px;
}
.cyber {
  /* display: flex; */

  margin-top: 2rem;
  overflow: hidden;
}
.cyber-sec {
  width: 100%;
}
#CS {
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  margin-left: 1.5rem;
  margin-top: -25%;
}
#js-pic {
  width: 150px;
  justify-self: center;
  background: none;
  background-color: white;
  position: relative;
  left: 80px;
  margin-top: 2rem;
}
#python-pic {
  width: 80%;
  margin-left: 10%;
}

.middle {
  display: flex;
  margin-top: 2rem;
}
#IoT {
  display: none;
}

@media (min-width: 768px) {
  * {
    overflow-x: hidden;
  }
  .ot {
    margin-bottom: 20px;
  }
  .our-technology {
    margin-top: 50px;
  }
  .logo {
    position: absolute;
    left: 4rem;
    top: 2rem;
    transform: scale(1.3);
  }
  .header-part {
    height: 110vh;
  }
  .mfird-intro {
    font-size: 4.4rem;
    width: 86%;
    margin-left: 8%;
    margin-bottom: 40px;
    position: relative;
    top: 10rem;
  }
  #IoT {
    display: inline-block;
    font-size: xxx-large;
    width: 30%;
    margin-left: 20px;
  }
  .menu {
    display: none;
  }
  .navigation-menu {
    display: flex;
    background: none;
    color: white;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .menu-list {
    color: white;
    height: fit-content;
    font-weight: bolder;
    font-weight: lighter;
    font-size: medium;
    border: none;
    margin: 10px 1px 0px 1px;
  }
  #close {
    display: none;
  }
  .up {
    display: none;
  }
  #iot-pic {
    display: none;
  }
  .middle {
    transform: scale(1.1);
    display: inline-flex;
    width: 50%;
    margin-right: 60px;
  }
  .desk {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    overflow: hidden;
  }
  .our-technology h1 {
    transform: scale(1.5);
  }
  #ios-pic {
    padding: 0.5px;
    height: 4rem;
    transform: scale(1);
  }
  .cyber-img {
    display: none;
  }
  #CS {
    color: black;
    font-size: medium;
    margin-top: 0.6%;
  }
  .android-pic {
    margin-left: 10px;
    height: 4rem;
    transform: scale(1);
  }
  #CS {
    transform: scale(2);
    text-align: center;
  }
  #js-pic {
    transform: scale(0.7) scaleX(1.8);
    padding: 20px;
  }
  #python-pic {
    transform: scale(0.5);
  }
  .down {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .mfird-intro {
    position: relative;
    top: 12rem;
  }
  #IoT {
    transform: scale(1.2);
    position: relative;
    left: 15%;
    top: 20%;
  }
  #CS {
    transform: scale(2.5);
    margin: 15px auto;
  }
  #js-pic {
    transform: scale(1);
    width: 20rem;
    margin-left: 4rem;
  }
  #python-pic {
    transform: scale(0.7);
  }
  .desk {
    transform: scale(1.2);
  }
  .middle {
    margin-right: 6rem;
  }
  .menu-list {
    transform: scale(1.1);
    font-weight: bolder;
  }
  .menu-list:hover {
    border-bottom: solid 2px white;
    transform: scale(1.5);
  }
}
@media (min-width: 1440px) {
  .ot {
    transform: scale(30);
    font-size: 10rem;
    color: black;
  }
  .mfird-intro {
    transform: scale(1.5);
    width: 70%;
    position: relative;
    top: 18rem;
  }
  #CS {
    transform: scale(3.5);
    margin-top: 4rem;
  }
  .android-pic {
    height: 5rem;
    margin-right: 2rem;
  }
  #js-pic {
    transform: scale(1);
    margin-left: 12rem;
  }
}
