* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
}

.iot {
  height: 45vh;
  padding: 10px;
  margin: 5px;
  background: linear-gradient(to right, rgb(40, 140, 173), rgb(33, 63, 172));
  color: whitesmoke;
  text-align: center;
  line-height: 20px;
}

p {
  margin: 20px 10px;
  text-align: left;
}
a {
  font-size: 14px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 3px 10px 5px 10px;
  border-radius: 16px;
  background-color: black;
}

.cryptography {
  margin: 5px;

  background: linear-gradient(to right, rgb(40, 140, 173), rgb(33, 63, 172));
  text-align: center;
  height: 45vh;
  padding: 10px;
  line-height: 20px;
  color: white;
}

.ethical {
  margin: 5px;

  background: linear-gradient(to right, rgb(40, 140, 173), rgb(33, 63, 172));
  color: white;
  text-align: center;
  height: 45vh;
  padding: 10px;
  line-height: 20px;
}
